.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    top: 10px;

    background-color: #023576;
    border-radius: 2rem;
    margin: 1rem;



    li {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 18%;
        padding: 10px 0;
        margin: 3px;
        border: 2px solid #FFF;
        border-radius: 16px;

        list-style: none;
        cursor: pointer;

        font-size: 20px;
        font-weight: 600;
        color: #FFF;

        span {
            position: absolute;
            font-size: 7px;
            color: white;
            top: 4px;
            left: 7px;
        }

        &:hover {
            transition: 1s;
            background-color: #F7A623;
            border: 2px solid #F7A623;
            color: #023576;
            cursor: pointer;

            span {
                color: #023576;
                transition: 1s;
            }
        }

    }

    .vendido {
        color: #bfbfbf;
        background-color: #4c5958;
        border: #bfbfbf;

        &:hover {
            transition: 1s;
            background-color: #4c5958;
            border: 2px solid #4c5958;
            color: #bfbfbf;
            cursor: no-drop;
        }

        span {
            position: absolute;
            font-size: 7px;
            color: #bfbfbf;
            top: 3px;
            left: 7px;
        }
    }

}