@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@400;500;700&family=Permanent+Marker&family=Quicksand:wght@700&display=swap");

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 650px;
    margin: 0 auto;

    margin-top: 4rem;
    padding-bottom: 4rem;

    h1 {
        width: 100%;
        font-size: 48px;
        font-weight: 900;
        padding-bottom: 3rem;
        color: #023576;
        text-align: center;
        font-family: 'Permanent Marker', cursive;;
    }

    p {
        width: 100%;
        max-width: 650px;
        color: #023576;
        line-height: 34px;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
        text-align: justify;
    }
}

.watch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: #00A8CF;

    .watchBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 1.25rem;
            font-size: 60px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 900;
        }

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
}