@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@400;500;700&family=Permanent+Marker&family=Quicksand:wght@700&display=swap");

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40.625rem;
    margin: 0 auto;

    margin-top: 4rem;
    padding-bottom: 4rem;

    h1 {
        width: 100%;
        font-size: 3rem;
        font-weight: 900;
        padding-bottom: 3rem;
        color: #023576;
        text-align: center;
        font-family: 'Permanent Marker', cursive;;
    }

    p {
        width: 100%;
        max-width: 40.625rem;
        color: #023576;
        line-height: 2.125rem;
        font-weight: 500;
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        text-align: justify;
    }
    @media (max-width: 500px){
        margin: 0 auto;
        padding: 1rem 2rem;
    }
}

.watch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #00A8CF;

    .watchBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 1.25rem;
            font-size: 60px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 900;

            @media(max-width:500px){
                font-size: 45px;
            }
        }

        span {
            font-size: 20px;
            font-weight: 700;
        }
    }

    @media (max-width: 500px){
        display: flex;
        margin: 0 auto;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: flex-end;
    }
}